<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>SeaHornet.org - {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="all">@import "/css/drupal.css";</style>
<script type="text/javascript"><!--
  var BASE_URL = "/";
--></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/img_assist.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<style type="text/css" media="all">@import "/css/img_assist.css";</style>
<style type="text/css" media="all">@import "/css/style.css";</style> 
</head>
<body>

<!-- wrapper -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center">
			<table id="main-table" width="830" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="header" align="left" colspan="6"><a href="/"><img src="/images/header_main.jpg" width="792" height="153" alt="SeaHornet.org" /></a></td>
					<td class="header" align="right" colspan="2"><a href="/"><img src="/images/header_right.jpg" width="37" height="153" alt="SeaHornet.org" /></a></td>
				</tr>
				<tr>
					<td colspan="2"><img src="/images/menu_left.jpg" width="214" height="25" alt="" /></td>
					<td valign="middle" colspan="5" id="menu-cell" align="left"><div id="menu"><a href="/">Home</a> | <a href="/project">Project</a> | <a href="/team">Team</a> | <a href="/contact">Contact</a></div> 
					</td>
					<td valign="top" rowspan="3" class="right-side"><img src="/images/right_upper.jpg" width="16" height="162" alt="" /></td>
				</tr>
				<tr>
					<td colspan="2"><img src="/images/sidebar_top.jpg" width="214" height="1" alt="" /></td>
					<td class="fill" colspan="5"><img src="/images/spacer.gif" width="600" height="1" alt="" /></td>
				</tr>
				<tr>
					<td valign="top" class="left-side"><img src="/images/left_upper.jpg" width="15" height="136" alt="" /></td>
					<td id="sidebar" rowspan="2" align="left" valign="top">
					<div class="block block-block" id="block-block-1">
 <h2 class="title">The SeaHornet ROV</h2>
 <div class="content">The SeaHornet is a mechanical engineering student design project at Sacramento State University (CSUS) by Jacob McGrew, Benjamin Shell, and Derek Hartl.  The SeaHornet is a small ROV (approximately 12" wide x 10" high x 19" long) that is controlled from a Windows laptop.  The project began in August 2006 and was officially completed in May 2007. </div>
</div>
<div class="block block-block" id="block-block-2">
 <h2 class="title">Sponsors</h2>
 <div class="content"><p>Please take a moment to visit our sponsors' websites:</p>

<div class="sponser" style="text-align: center; padding: 15px 0px 10px 0px;"><a href="http://www.seabotix.com/" target="_blank"><img src="http://www.seahornet.org/files/seabotix.jpg" border="0" width="177" height="50" alt="SeaBotix, Inc." /></a></div>

<div class="sponser" style="text-align: center; padding: 15px 0px 10px 0px;"><a href="http://www.asi.csus.edu/" target="_blank"><img src="http://www.seahornet.org/files/asi.jpg" border="0" width="180" height="70" alt="Associated Students, Inc." /></a></div>


<div class="sponser" style="text-align: center; padding: 15px 0px 5px 0px;"><a href="http://www.protacraft.com/" target="_blank"><img src="http://www.seahornet.org/files/protacraft.jpg" border="0" width="188" height="56" alt="Protacraft Inc." /></a></div>


<div class="sponser" style="text-align: center; padding: 15px 0px 5px 0px;"><a href="http://www.carrillounderwater.com/" target="_blank"><img src="http://www.seahornet.org/files/carrillo.gif" border="0" width="188" height="100" alt="Carrillo Underwater Systems" /></a></div>
</div>
</div>
					</td>
					<td class="fill" rowspan="2"><img src="/images/spacer.gif" width="1" height="300" alt="" /></td> <!-- used to force the height to be enough -->
					<td id="main" align="left" colspan="4" rowspan="2" width="100%" valign="top">
                        {% if page.heading %}
                        <h1 class="title">{{ page.heading }}</h1>
                        {% endif %}
                        {{ content }}
					</td>
				</tr>
				<tr>
					<td valign="bottom" class="left-side"><img src="/images/left_lower.jpg" width="15" height="282" alt="" /></td>
					<td valign="bottom" class="right-side"><img src="/images/right_lower.jpg" width="16" height="282" alt="" /></td>
				</tr>
				<tr>
					<td align="left" class="footer" colspan="2"><img src="/images/bottom_left.jpg" width="214" height="35" alt="" /></td>
					<td class="footer"><img src="/images/bottom_divider.jpg" width="1" height="35" alt="" /></td>
					<td class="footer"><img src="/images/bottom_fill.jpg" width="57" height="35" alt="" /></td>
					<td class="footer"><img src="/images/bottom_copyright.jpg" width="284" height="35" alt="" /></td>
					<td class="footer"><img src="/images/bottom_fill.jpg" width="238" height="35" alt="" /></td>
					<td class="footer" align="right"><img src="/images/bottom_right1.jpg" width="20" height="35" alt="" /></td>
					<td class="footer"><img src="/images/bottom_right2.jpg" width="16" height="35" alt="" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22729041-1']);
  _gaq.push(['_setDomainName', '.seahornet.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","638fb4d202","1202161","NFQEZEQFWBcHUkxRXg0eM0JfS18KAlRAFkELQQ==",0,20,new Date().getTime(),"","","","",""]);</script>
</body>
</html>
